<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        margin: 2em;
        font-family: system-ui, sans-serif;
      }
      img {
        max-width: 250px;
      }
    </style>
  </head>
  <body>
    <h1>Layouts</h1>
    <h2>Single Column</h2>
    <p>TODO</p>

    <h2>Two Columns Responsive</h2>

    Staked on small factor: <br />
    <img src="two-columns/bento-stacked.png" alt="Stacked" style="max-width: 146px" />

    <h3>No Overlapping</h3>
    <img src="two-columns/bento-zigzag-side-by-side.png" alt="No Overlapping" />
    <p><a href="two-columns/tw/grid-layout-5.4-tw.html">v5.4 TW</a></p>

    <h3>Overlapping X</h3>
    <img src="two-columns/bento-zigzag-overlapping-x.png" alt="Overlapping X" />
    <p>
      <a href="two-columns/grid-layout-2.html">v2</a>
    </p>

    <h3>Overlapping Y</h3>
    <img src="two-columns/bento-zigzag-overlapping-y.png" alt="Overlapping Y" />
    <p>
      <a href="two-columns/grid-layout-5.2.html">v5.2</a>,<br />
      <a href="two-columns/tw/grid-layout-6-tw.html">v6</a>,<br />
      <a href="two-columns/tw/grid-layout-6.2-tw.html">v6.2 TW</a>,
    </p>

    <h2>Misc</h2>

    Testimonial:<br />
    <img src="quote.png" alt="Testimonial Layout" />
    <p>
      <a href="quote-tw.html">quote TW</a>
    </p>
  </body>
</html>
