<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Navigation Two Oposite Sides - sm breakpoint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="sm:flex sm:items-center sm:justify-between p-8 bg-slate-900">
      <div class="min-w-0 flex-1">
        <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Back End Developer</h2>
      </div>
      <div class="mt-4 flex sm:ml-4 sm:mt-0">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20"
        >
          Edit
        </button>
        <button
          type="button"
          class="ml-3 inline-flex items-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        >
          Publish
        </button>
      </div>
    </div>
    <p class="m-8">
      From
      <a
        href="https://tailwindcss.com/plus/ui-blocks/application-ui/headings/page-headings"
        class="underline decoration-blue-100 decoration-wavy decoration-4 underline-offset-8"
        >Tailwind CSS Headings</a
      >
    </p>
  </body>
</html>
